.parent {
    -fx-background-color: transparent;
}

.pane {
    -fx-background-color: #2696f3;
}

.transparent-button-white-border {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-text-fill: whitesmoke;
}

.white-pan {
    -fx-background-color: #ffffff;
}

.bg-image {
    -fx-background-image: url("background.png");
    -fx-background-size: stretch;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.label {
    -fx-font-family: "Consolas Ligaturized", "Open Sans", "Roboto";
    -fx-font-size: 15px;
}

.login-label {
    -fx-font-family: "Consolas Ligaturized", "Open Sans", "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 45px;
}

.input-field {
    -fx-font-family: "Consolas Ligaturized", "Open Sans", "Roboto";
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #0598ff;
}

.icon {
    -fx-fill: #0598ff;
}

.login-btn {
    -fx-font-family: "Consolas Ligaturized", "Open Sans", "Roboto";
    -fx-font-weight: Bold;
    -fx-font-size: 20px;
    -fx-background-color: #0598ff;
    -fx-background-radius: 5px;
}

.hyperlink {
    -fx-font-family: "Consolas Ligaturized", "Open Sans", "Roboto";
    -fx-font-size: 16px;
}